* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  /* background: #383734; */
}

.overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(68,60,60,0.73);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#codetainer {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;


  top: 0;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 250px;
  background: #f5f5f5;
  border: 1px solid #dadada;

}

.codetainer-content {
  font-size: 13px;
  top: 35px;
  position: absolute;
  display: block;
  bottom: 35px;
  right: 0;
  left: 200px;
  color: #f0f0f0;
  background: #3E4045;
}

#codetainer-terminal{
  color: #f0f0f0;
  background: none !important;

  position: absolute;
  display: block;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
}

.terminal,
.xterm-rows {
  color: #f0f0f0;
  background: none !important;

  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.terminal-cursor {
  color: #000000;
  background: #f0f0f0;
}

.reverse-video {
  color: #000;
  background: #f0f0f0;
}

.codetainer-header{
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px

  background: #f5f5f5;
  border-bottom: solid 1px #dadada;
  height: 35px;
  line-height: 35px;

  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
}

.codetainer-header .logo{
  text-align: center;
  width: 200px;
  font-size: 21px;
  /* padding-left: 10px; */
  border-right: 1px solid #ddd;
}

.codetainer-header .logo span{
  display: inline-block;
}

.codetainer-header .logo span:first-child{
  font-weight: bold;
}

.codetainer-header .logo span:last-child{
  color: #9B9B9B;
}

.codetainer-sidebar{
  background: #ffffff;
  border-right: solid 1px #dadada;

  width: 200px;

  position: absolute;
  display: block;
  bottom: 30px;
  left: 0;
  top: 35px;
}

.codetainer-footer{
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;

  background: #f5f5f5;
  border-top: solid 1px #dadada;
  height: 35px;
  line-height: 35px;

  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-sidebar-options{
  height: 35px;
  width: 200px;
  border-right: 1px solid #ddd;
}

a.footer-sidebar-button{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  text-decoration: none;
  color: #867F7F;
}

a.footer-sidebar-button:hover{
  background-color: #ddd;
}

.footer-main{}


/* @Group Tags */

.codetainer-tabs{
  position: absolute;
  left: 202px;
  right: 0;
  top: 0;
  bottom: 0;

}

.codetainer-tabs > *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}


.nav {
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 7px 6px 7px;
  /* height: 30px; */
  /* line-height: 30px; */
}

.nav>li>a>i{
  margin-left: 1px;
  opacity: 0.5;
}

.nav>li:hover>a>i{
  opacity: 1;
}

.nav>li>a:hover,.nav>li>a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  display: inline-flex;
}

.nav-tabs>li {
  margin-bottom: -1px;
  flex-shrink: 1;
  min-width: 1em;
  overflow: hidden;
}

.nav-tabs>li>a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  text-decoration: none;


  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  white-space: nowrap;
}

.nav-tabs>li>a:after {
  /* background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); [> W3C <] */
  /* content: ""; */
  /* position: absolute; */
  /* top: 4px; right: 0px; bottom: 1px; */
  /* width: 30px; */
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs>li.active {
  flex-grow: 1;
  overflow: visible;
}

.nav-tabs>li.active>a {
  text-overflow: initial;
}

.nav-tabs>li>a,.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
  background-color: #3E4045 !important;
  color: #fff !important;
  color: #555;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.measure {
  position: absolute !important;
}
/* @end */
